html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#menu {
  float: left;
  width: 18vw;
  height: 100vh;
  background-color: white;
  margin: 1vw 0;
  padding: 5px;
}

#content {
  float: left;
  width: 80vw;
  height: 100vh;
  background-color: black;
}

#generation-number {
  margin-top: 80px;
  font-size: 30px;
}

#start-button {
    margin-left: 5px;
}

#generation-input {
    width: 100%;
}

#production-interval-input,
#refresh-interval-input {
    width: 100%;
}

#production-interval-show,
#generation-input,
.buttons,
.header {
    margin-bottom: 25px;
}
